html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #242B33;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 65%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: absolute;
}

.logo{
    color: white;
    text-align: center; /* текст по центру блока */
}

.logo_heading{
    margin: 0;
    font-family: 'Post No Bills Jaffna SemiBold Regular';
    font-size: 36px;
}

.logo_paragraf{
    margin: 0;
    font-size: 18px; /* размер текста */
}

.nav{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_list{
    list-style: none; /* убирает точки у списка */
    width: 100%;
    height: 50%;
    display: flex; /* все слова в блоке переписывает со столбика в строку */
    justify-content: space-between; /* вставляет пробелы между словами */ 
    align-items: center;

}

.header_list > li > a{
    color: white;
    text-decoration: none; /* убирает подчеркивание слов */
}

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main_top_info{
width: 100%;
height: 80vh;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(/img/background_nav.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.top_info_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

.top_info_heading{
    color: #D4C17F;
    font-size: 48px;
    font-family: 'Playfair Display';
    font-weight: 700;
    text-align: center;
}

.top_info_mouse_icon{
    background-image: url(/img/mouse.png);
    background-size: contain;
    background-position: center;
    height: 40px;
    width: 40px;
}

.top_info_contacts{
    display:flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Raleway';
    font-size: 18px;
}

.info_contact_location,.info_contact_phone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.info_contact_phone{
    width: 21%;
}

.location_icon{
    background-image: url(/img/location.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.phone_icon{
    background-image: url(/img/phone-call.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.main_props{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.props_inner{
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parks_icon,.flats_icon,.fountains_icon,.bicycle_icon{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
}

.parks_icon{
    background-image: url(/img/parks.png);
}

.flats_icon{
    background-image: url(/img/flats.png);
}

.fountains_icon{
    background-image: url(/img/fountain.png);
}

.bicycle_icon{
    background-image: url(/img/bicycle.png);
}

.props_parks,.props_flats,.props_fountains,.props_bicycle{
    width: 20;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Raleway';
}

.main_flats{
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.flat_heading{
    font-size: 36px;
    font-family: 'Playfair Display' serif;
    font-weight: 700;
    color: #D4C17F;
}

.flats_inner{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.inner_flat_block{
    height:calc(100% - 15px) ;
    width: calc(50% - 15px);
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url(/Img/left1.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: flex-end;
}

.block{
    background-image:linear-gradient(180deg, #242B33 0%, 
    rgba(36, 43, 51, 0) 0.01%, 
    #242B33 100%), url(./img/right2.png);
}

.inner_flat_block > p{
    margin: 2.5em;
    font-family: 'Raleway';
    font-size: 20px;
}

.bottom{
    align-items: flex-start;
}

.main_question{
    background: linear-gradient(180deg,#242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(./img/food.png);
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

.question_inner{
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner_info{
    width: 45%;
    height: 100%;
    color: white;
    font-family: 'Raleway';
    font-size: 18px;
}

.inner_info > h2{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #D4C17F;
}

form{
    width: 45%;
    height: 40%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.form_name,.form_number,.form_submit{
    outline: none;
    border: none;
    width: 45%;
    height: 80%;
    background: #FFFFFF;
    opacity: 0.2;
}

.form_name::placeholder,.form_number::placeholder{
    color: #6e2121;
    font-family: 'Raleway';
    font-size: 14px;
    text-align: center;
}

.form > p{
    width: 50%;
    height: 80%;
    color: white;
    font-size: 13px;
    text-align: center;
}

.form_submit{
    background: #D4C17F;
    opacity: 1;
    color: white;
}

footer{
    width: 100%;
    height: 30%;
    background: #2D343C;
    display: flex;
    align-items: center;
}

.footer_inner{
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

.footer_list{
    list-style: none;
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer_list > li > a{
    color: white;
    text-decoration: none;
    font-size: 14px;
} 

.footer_logo{
    width: 25%;
}

.footer_email{
    color: #D4C17F;
}

.social_link{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 60%;
    padding: 0;
    margin-top: 1em;
}

.social_link > li >a{
    display: block;
    width: 28px;
    height: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.youtube{
    background-image: url(/img/youtube.png);
}

.vk{
    background-image: url(/img/vk.png);
}

.facebook{
    background-image: url(/img/facebook.png);
}

.instagram{
    background-image: url(/img/instagram.png);
}