@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

html, body{
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
}

div{
    width: 600px;
    height: 400px;
    margin: 30px auto;
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
}

.spiderMan{
    background-position: center;
    background-image: url("https://www.kino-teatr.ru/news/11465/110893.jpg");
}

.ironMan{
    background-image: url("https://i.pinimg.com/originals/c6/c5/92/c6c592b55bb6d61bb53a504344256742.jpg");
}

.capitanAmericka{
    background-image: url("https://img2.goodfon.ru/wallpaper/original/1/a6/captain-america-the-winter-5153.jpg");
}

#avangers{
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://searchthisweb.com/wallpaper/avengers-infinity-war_4750x2342_te33j.jpg");
    background-size: cover;
    background-position: center;
}

.moveback{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 1em;
    position: fixed;
    top: 2em;
    right: 2em;
}

@media (max-width: 1200px) {
    #avangers{
        height: 40%;
    }
}

@media (max-width: 760px) {
    #avangers{
        height: 32%;
    }
    a{
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    #avangers{
        height: 17%;
    }
    div{
        width: 400px;
        height: 250px;
    }
}

@media (max-width:1200px) and (orientation:landscape) {
    #avangers{
        height: 100%;
    }
}